@mixin clearfix {
	// For modern browsers
	&:before,
	&:after {
		content:"";
		display:table;
	} 
	&:after {
	clear:both;
	}  // For IE 6/7 (trigger hasLayout)
	& {
	zoom:1;
	}
}
@mixin rounded($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
	        border-radius: $radius;
}
@mixin shadow($x, $y, $blur, $color) {
	-webkit-box-shadow: $x $y $blur $color; /* Safari v3.0+ and by Chrome v0.2+ */
	   -moz-box-shadow: $x $y $blur $color; /* FF3.5+ */
	        box-shadow: $x $y $blur $color;
	       
}
@mixin linear-gradient($from, $stop, $to) {
	background: $to; /* Old browsers */
	background: -moz-linear-gradient(top,  $from $stop, $to 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop($stop,$from), color-stop(100%,$to)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $from $stop,$to 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $from $stop,$to 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $from $stop,$to 100%); /* IE10+ */
	background: linear-gradient(to bottom,  $from $stop,$to 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 ); /* IE6-9 */
}
@mixin opacity($percent) {
	opacity: $percent/100;
	filter: alpha(opacity=$percent); /* For IE8 and earlier */
}
@mixin transition($property, $time) {
	transition: $property $time;
}
@mixin rotate($angle) {
	-webkit-transform: rotate($angle +deg);
	   -moz-transform: rotate($angle +deg);
	    -ms-transform: rotate($angle +deg);
	     -o-transform: rotate($angle +deg);
	        transform: rotate($angle +deg);
}