@import "_reset.scss";
@import "_mixins.scss";


@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Light-webfont.eot');
    src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg'),
         url('fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/OpenSans-Light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Bold-webfont.eot');
    src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg'),
         url('fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('fonts/OpenSans-Bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab Regular';
    src: url('fonts/RobotoSlab-Regular-webfont.eot');
    src: url('fonts/RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/RobotoSlab-Regular-webfont.svg#roboto_slabregular') format('svg'),
         url('fonts/RobotoSlab-Regular-webfont.woff') format('woff'),
         url('fonts/RobotoSlab-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Glyphicons Halflings';
 	src: url('fonts/glyphicons-halflings-regular.eot');
 	src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
  		 url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg'), 
  		 url('fonts/glyphicons-halflings-regular.woff') format('woff'), 
  		 url('fonts/glyphicons-halflings-regular.ttf') format('truetype');
}

//Variables
$gray_border: 1px solid #e6e6e6;
$body_font: 'Open Sans', sans-serif;
$section_heading: 'Roboto Slab Regular', serif;
$color_main: #333;
$color_light: #666;

@mixin lr_padding {
	padding-left: 15px;
	padding-right: 15px;
}


html {
	-webkit-font-smoothing: antialiased;
}
body {
	font-family: $body_font;
	font-size: 13px;
	font-weight: 400;
	color: $color_main;
	background-image: url(noise.gif);
}
header {
	// faded logo style
	position: fixed;
	top: 20px;
	width: 12.5%;
	text-align: center;
	@include opacity(25);
	
	// blue bar style
/* 
	height: 45px;
	width: 100%;
	position: fixed;
	z-index: 100;
	border-bottom: 1px solid rgb(35,149,224);

	@include shadow(0, 2px, 4px, rgba(0,0,0,0.25));
	@include linear-gradient(#68b6ea, 27%, #56ade7);
*/
}
img#logo {
	position: relative;
	//top: 9px;
	//left: 13px;
}
div#content_container {
	width: 75%;
	max-width: 1200px;
	min-width: 620px;
	height: auto;
	margin: 0 auto;
	padding: 20px 0 15px 0;
	//padding: 45px 0 15px 0; 
	background: #ffffff;

	@include shadow(0, 0, 4px, rgba(0,0,0,0.25));

	position: relative;
	z-index: 5;

	@media screen and (min-width: 1300px) {
		
	}

	@media screen and (max-width: 1200px) {
		width: 85%;
	}
}
h1 {
	font-family: $section_heading;
	font-size: 24px;
	float: left;
}
h1.nofloat {
	float: none;
}
h2, h3 {
	font-family: $body_font;
	font-weight: 700;
	color: #999999;
	font-size: 13px;
	margin-bottom: 5px;
}
h3 {
	background: $color_light;
	clear: both;
	margin-left: -15px;
	margin-bottom: 15px;
	padding-top: 6px;
	padding-left: 15px;
	width: 180px;
	height: 25px;
	color: #ffffff;
	float: left;
}
h3.last {
	margin-left: 0;
}
p {
	line-height: 140%;
}
table {
	margin-bottom: 10px;
}

footer {
	width: 100%;
	margin-top: 20px;
	text-align: center;
	height: 20px;
	font-size: 11px;
	color: #808080;
}
a { 
	color: #4C79FF; 
	&:visited {
		color: #4C79FF;
	}
	&:hover, &:active {
		color: red;
	}
}

ul.footer a,
ul.footer a:visited,
ul.footer a:active { color: $color_light;}

ul.footer a:hover { 
	text-shadow: 1px 1px 0px rgba(150, 150, 150, .5);
	text-decoration: none;
}

strong {
	color: $color_light;
}

/* Sections */
section {
	margin-top: 15px;
	clear: both;
}
section.info_section {
	line-height: 150%;
	border-top: $gray_border;
	padding-top: 8px;
}
section#primary_keys {
	margin-top: 0;
	font-weight: 300;
	height: 65px;
	border-bottom: $gray_border;
	@include lr_padding;
}
section#secondary_keys {
	font-weight: 300;
	height: 33px;
	border-bottom: $gray_border;
	@include lr_padding;
	@include linear-gradient(#fff, 0%, #eee);
}
section#main_images {
	margin: 0;
}
section#description {
	padding-bottom: 10px;
	@include lr_padding;
}
section#contact {
	border-bottom: $gray_border;
	padding-bottom: 200px;
}
section#footer_nav {
	margin-top: 0px;
	font-weight: 300;
	height: 33px;
	width: 100%;
	border-bottom: $gray_border;
	text-align: center;
	padding-top: 6px;
	@include lr_padding;
	@include linear-gradient(#fff, 0%, #eee);
}
ul.footer {
	width: 100%;

	li {
		display: inline-block;
		line-height: 21px;
		border-left: 1px solid #dddddd;
		vertical-align: middle;
		@include lr_padding;
	}

	li:first-child {
		border: 0;
	}
}

article {
	@include lr_padding;
}
article#other_photos {
	padding: 0;
}
div#address, div#bedbath {
	float: left;
}
div#price, div#sizetype {
	float: right;
}
.right {
	text-align: right;
}
.large {
	font-size: 30px;
	margin-bottom: 5px;
}
.small {
	font-size: 15px;
}
.secondary_details {
	display: none;
}
.bold {
	font-weight: 700;
	color: $color_light;
}
sup {
	vertical-align: baseline;
  	position: relative;
  	font-size: 65%;
  	top: -0.4em;
}
div#left_img_container {
	height: 400px; 
	max-width: 60%;
	overflow: hidden;
	float: left;
}
div#right_img_container {
	height: 400px; 
	min-width: 40%; 
	overflow: hidden;
}
img.main, img.secondary {
	height: 100%;
}
button#morepics {
	position: absolute;
	right: 10px;
	margin-top: -45px;
}
.contact_photo {
	@include rounded(15px);
	border: $gray_border;
	width: 50%; 
	max-width: 150px;
	margin-left: 15px;
	margin-bottom: 100px;
	float: right;
}
#tooltip {
	padding: 5px;
	border: $gray_border;
	background: #ffffff;
	position: absolute;
	z-index: 20;
	display: none;
	@include shadow(1px, 1px, 4px, rgba(0,0,0,0.25));
}	


/* Heading formatting */
.heading {
	width: 100%;
	height: auto;
	margin-bottom: 25px;
	@include lr_padding;
}
div.heading_link {
	position: relative;
	top: 3px;
}
div.colorblock {
	width: 4px; 
	height: 35px; 
	position: absolute; 
	left: -4px; 
	margin-top: -9px;
}
div#home_details_block { background-color: #FF7F00; }
div#tour_block { background-color: #0059B2; }
div#neighborhood_block { background-color: #D90000; }
div#schools_block {	background-color: #00B200; }
div#contact_block { background-color: #68B6EA;}


/* Layout stuff */
div.left_half {
	clear: left;
	float: left; 
	width: 50%;
}
div.right_half {
	float: right; 
	width: 50%;
}
div.col_container {
	width: 100%; 
	@include lr_padding;
}
div.col_container:after {
	content: ".";
	display: block;
	height: 0;
	clear:both;
	visibility: hidden;
}
div.col1 {
	clear: left; 
	float: left; 
	width: 32.2%; 
	position: relative; 
	margin-right: 1.7%;

	table {
		width: 100%;
	}

	@media screen and (max-width: 800px) {
		width: 49%;
		margin-right: 2%; 
	}
}
div.col2 {
	float: left; 
	width: 32.2%; 
	position: relative; 
	margin-right: 1.7%;

	table {
		width: 100%;
	}

	@media screen and (max-width: 800px) {
		width: 49%;
		margin-right: 0;
	}	
}
div.col3 {
	float: left; 
	width: 32.2%; 
	position: relative;

	table {
		width: 100%;
	}

	@media screen and (max-width: 800px) {
		clear: both;
		width: 49%;
	}
}
div.contact_left {
	width: 33.33%; 
	display: inline-block; 
	vertical-align: top; 
	padding-right: 15px; 
	line-height: 150%;

	@media screen and (max-width: 1000px) {
		width: 50%;
	}
}
div.contact_right {
	width: 66.66%; 
	display: inline-block; 
	vertical-align: top; 
	padding-left: 15px; 
	border-left: 1px solid #e6e6e6;

	@media screen and (max-width: 1000px) {
		width: 50%;
	}
}


/* Monthly calculator */
div#monthly_calc {
	display: none; /* hide on load */
	width: 280px;
	height: 265px;
	background: #ffffff;
	padding: 15px 15px;
	position: absolute;
	top: 120px;
	right: 15px;
	z-index: 10;
	@include shadow(1px, 1px, 4px, rgba(0,0,0,0.25));
}

div#monthly_calc table tr td.attr {
	width: 110px;
	text-align: right;
	padding-right: 10px;	
	vertical-align: middle;
}

div#monthly_calc table tr {
	line-height: 35px;
}
div#monthly_calc table tr td div { /*fix the spans*/
	line-height: 30px;
}


/* Tour table style */
td.attr {
	color: #999999;
	width: 120px;
}
td.key {
	font-weight: 700;
	color: $color_light;
	width: 20px;
}
td.room {
	width: 150px;
}
td.dims {
	width: 40px;
	text-align: center;
}
.floor_dims {
	float:left;
	margin-right: 50px;
	margin-bottom: 25px;
}


/* Room features */
ul.room_features {
	clear: left;
	float: left;
}
ul.room_features li ul li {
	margin-left: 5px;
	background-image: url(bullet1.png);
	background-repeat: no-repeat;
	background-position: 0px 3px; 
	padding-left: 14px; 
	color: $color_light;
}
.glyphicon-arrow-up {
	display: block; 
	position: relative;
	//clear: both;
	//top: -30px; 
	color: #ccc; 
	font-size: 18px;
	margin: 5px auto;
}
.backtop {
	margin: 3px auto;
}


/* Neighborhood table style */
td.venue {
	width: 70%;
	padding-right: 5%;
}
td.rating {
	vertical-align: middle;
}
td.school_rating {
	text-align: center;
}
img.school_rating {
	margin: 0 15px 0 15px; 
	vertical-align: top; 
	margin-top: -4px;
}
div.rating {
	width: 84px;
	height: 18px;
	background: url(yelp_icons.png) no-repeat;
	background-position: -3px 18px;
}
div.stars0 { background-position: -3px -1px; }
div.stars1 { background-position: -3px -19px; }
div.stars15 { background-position: -3px -37px; }
div.stars2 { background-position: -3px -55px; }
div.stars25 { background-position: -3px -73px; }
div.stars3 { background-position: -3px -91px; }
div.stars35 { background-position: -3px -109px; }
div.stars4 { background-position: -3px -127px; }
div.stars45 { background-position: -3px -145px; }
div.stars5 { background-position: -3px -163px; }


/* Image containers */
div.full_container {
	width: 100%; 
	height: 400px;
}
div#street_container {
	margin-bottom: 20px;
}
div.tour_photo_container {
	float: right; 
	width: 66%; 
	margin-top: -40px; 
	position: relative;
}
div.other_photo_container {
	position: relative;
	margin-bottom: 15px;
}
img.tour_photo {
	width: 100%; 
	vertical-align: top; 
	position: relative; 
	z-index: 3;
	@include shadow(0, 2px, 2px, rgba(0,0,0,0.15));
}
.caption {
	width: 100%;
	background: #ffffff;
	color: #000000;
	position: absolute;
	bottom: 0px;
	padding: 5px 10px 5px 10px;
	z-index: 5;
	@include opacity(70);
}	


/* Floorplan */
div.floorplan {
	width: 150px; 
	height: 140px; 
	float:left; 
	margin-bottom: 20px; 
	position: relative;
}

h2.floor_label {
	font-weight: bold;
	position: absolute;
	width: 60px;
	color: $color_main;
	margin: 0px;
	text-align: center;
}

div.room_floorplan {
	clear: left; 
	float: left; 
	margin-top: 20px; 
	position: relative;
}
span.floorplan_room_num {
	display: table-cell; 
	vertical-align: middle; 
	font-weight: bold;
}
div.room {
	background: #eeeeee; 
	display: table; 
	text-align: center; 
	position: absolute;
}
div.active, div.highlighted {
	background: #cccccc;
}
.interactive {
	cursor: pointer;
}


/* Map Stuff */
div#map {
	padding: 10px 0 20px 0;
	clear: both;
}
div#directions_bar {
	width: 100%;
	background: #ffffff;
	color: #000000;
	position: absolute;
	padding-top: 10px;
	padding-bottom: 10px;
	bottom: 30px;
	z-index: 5;
	display: none;
	@include lr_padding;
	@include opacity(80);
}
div#schoolmap_container {
	width: 100%; 
	height: 400px; 
	clear: both; 
	margin-top: 10px;
	margin-bottom: 30px;
}